<div class="container">
    <button type="button" (click)="getDoctorDetails()"> get data</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>DoctorId</th>&nbsp;&nbsp;
            <th>Doctor CategoryId</th>&nbsp;&nbsp;
            <th>Doctor Name</th>&nbsp;&nbsp;
            <th>Age</th>&nbsp;&nbsp;
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctorcat">
            <td>{{doctor.doctorDetails.doctorId}}</td>&nbsp;&nbsp;
            <td><a [routerLink]="['/doctorcategory',doctor.doctorId]">{{doctor.doctorId}}</a></td>&nbsp;&nbsp;
            <td>{{doctor.doctorDetails.doctorName}}</td>&nbsp;&nbsp;
            <td>{{doctor.doctorDetails.age}}</td>&nbsp;&nbsp;
            <td>{{doctor.doctorDetails.contactNo}}</td>&nbsp;&nbsp;
        </tr>
    </tbody>

</table>

</div>